.donationView {
    border-radius: 50px;
    height: 70px;
    width: 1080px;
     background: red; 
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)  ;

}